.skillsBlock {
    min-height: 100vh;
    background-color: #dbfce8;
}

.skillContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: white;
    margin: 15px;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}