.project {
    width: 450px;
    background-color: #252527;
    min-height: max-content;
    display: flex;
    flex-direction: column;
    color: white;
}

.img {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

.img::before {
    content: '';
    position: absolute;
    background-color: rgba(27, 27, 28);
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 250px;
    background-color: white;
    min-height: max-content;
    display: flex;
    flex-direction: column;
}

.img {
    height: 200px;
    width: 100%;
    background-color: #b3caf7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    background-color: #ecf2ff;
    padding: 7px;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.descriptionAndTitle {
    padding: 25px 20px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px;
    /*color: white;*/
}

.description {
    line-height: 1.0;
    font-weight: 400;
    font-size: 14px;
}


